:root {
    --main-color: rgb(254, 72, 72);
    --text-color: rgb(255, 255, 255);
    --text-shadow: rgb(0, 0, 0);
    --collateral-color: rgb(77, 80, 86);
    --indirect-1-color: rgb(254, 155, 56);
    --indirect-2-color: rgb(216, 254, 215);
    --background-color: rgb(175, 178, 182);
    --basic-border-color: rgb(0, 0, 0);
    --background-modal-color: rgb(233, 237, 237);
    --label-modal-color: rgb(240, 248, 255);
    --box-shadow-color: rgb(53, 53, 54);

    --primary: #FFCE00;
    --secondary: #fe4848;
    --dark: #212121;
    --light: #F3F3F3;
}